<form [formGroup]="brandForm">
  <label
    for="brands"    
    (click)="deleteCurrentBrand()"
    [class]="getAllBrandClass()"
    routerLink="/cars"
    >Markalar:</label
  >
  <select
    formControlName="brand"
    class="form-select"
    id="brands"
  >
    <option
      *ngFor="let brand of brands"
      [value]="brand.id"
      [class]="getCurrentBrandClass(brand)"
      onchange="setCurrentBrand(brand)"
    >
      {{ brand.brandName }}
    </option>
  </select>
  <button
    type="submit"
    class="btn btn-info mt-2"
    routerLink="/cars/brand/{{ brandForm.value.brand }}"
  >
    Filtrele
  </button>
</form>