

<div class="card w-50 mx-auto mt-5">
    <div class="card-header">
      <div class="card-title fw-bolder my-2 text-center">Güncelle</div>
    </div>
    <div class="card-body">
      <form [formGroup]="brand" >
       
        <div class="form-group">
          <label for="brandName" class="my-3">Name</label>
          <input
            type="text"
            id="brandName"
            class="form-control"
            formControlName="brandName"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button
        (click)="Update()"
        type="button"
        class="btn btn-dark w-20 d-block mx-auto my-3">
        Güncelle
      </button>
    </div>
  </div>