<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h4 class="text-center text-black bg-secondary">Kiralamalar</h4>
  <table class="table">
    
    <thead>
      <tr>
        <th>Kiralayan</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Renk</th> 
        <th>Kiralama Tarihi</th>
        <th>Teslim Tarihi</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
      <td>{{rental.customerName}}</td>
      <td>{{ rental.brandName }}</td>
      <td>{{ rental.modelName }}</td>
      <td>{{ rental.colorName }}</td>
      <td>{{ rental.rentDate }}</td>      
      <td>{{ rental.returnDate }}</td> 
      
    </tr>
  </table> 
