<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 mb-4 ml-1" *ngFor="let car of cars ">
      <div class="car-body" (click)="setCurrentCar(car)" 
      routerLink="/cars/car/{{ car.carId }}" class="col-md-4">
        <div class="card" style="width: 18rem">
          <img [src]="getCarImage(car)" img class="img-rounded " alt="Cinque Terre" />
  
          <div class="card-body">
            <h3 class="card-title text-center">{{ car.modelName }}</h3>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item ">
              <i><b>Marka</b></i> | {{ car.brandName }}
            </li>
            <li class="list-group-item">
              <i><b>Model Yılı</b></i> | {{ car.modelYear }}
            </li>
            <li class="list-group-item">
              <i><b>Günlük Fiyat</b></i> | {{ car.dailyPrice | currency : "₺ " }}
            </li>
            
          </ul>
  
          <button type="button" class="btn btn-primary btn-lg">Kirala</button>
        </div>
  
        <br />
      </div>
    </div>
  </div>
