<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Güncelle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="updateCarForm">
          <div class="mb-3">
            <label for="name">Model</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Model" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="brandId">Marka</label>
            <select id="brandId" name="brandId" class="form-select" formControlName="brandId">
              <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.brandName}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="colorId">Renk</label>
            <select id="colorId" name="colorId" class="form-select" formControlName="colorId">
              <option *ngFor="let color of colors" [ngValue]="color.id">{{color.colorName}}</option>
            </select>
          </div>

          <div class="mb3">
            <label for="modelYear">Model Yılı</label>
            <input type="number" id="modelYear" name="modelYear" class="form-control" placeholder="Model Yılı"
              formControlName="modelYear">
          </div> 

          <div class="mb3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <input type="number" id="dailyPrice" name="dailyPrice" class="form-control" placeholder="Günlük Fiyat"
              formControlName="dailyPrice">
          </div>
          <div class="mb3">
            <label for="dailyPrice">Açıklama</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="Açıklama"
              formControlName="description">
          </div>

          <div *ngIf="selectedCar">
            <input type="hidden" formControlName="id" value="{{selectedCar.id}}" class="form-control">
          </div>
          
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-success" (click)="update()">Güncelle</button>
      </div>


    </div>
  </div>
</div>